# Base host configuration

BASE_HOST_STRING = "backend-url-string.fr"
BASE_HOST_REQUIRES_NETWORK_CONFIG = false

# Sectigo configuration (optional)

NEED_SECTIGO_HOST_STRING = "optional.domain.using.sectigo.certification.org"

# OIDC sandboxed hosts (optional, up to 9 items)

SANDBOX_HOST_STRING_01 = "oidc01.org"
SANDBOX_HOST_STRING_02 = "oidc02.org"
SANDBOX_HOST_STRING_03 = "oidc03.org"
SANDBOX_HOST_STRING_04 = "oidc04.org"
SANDBOX_HOST_STRING_05 = ""
SANDBOX_HOST_STRING_06 = ""
SANDBOX_HOST_STRING_07 = ""
SANDBOX_HOST_STRING_08 = ""
SANDBOX_HOST_STRING_09 = ""